<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }} - {{ shop.name }}</title>
    {{#component "stylesheet" src="base/index.css" | asset_url() preload=true /}}
    {{#component "stylesheet" src="theme.css" | asset_url() /}}
    {{#component "stylesheet" src="style.css" | asset_url() /}}
    {{#component "script" src="base/index.js" | asset_url() /}}
    {{#content "header" /}}
  </head>
  <body>
    {{#sections "header-group" /}}

    <main id="main-content" role="main">
      {{#content "layout" /}}
    </main>

    {{#sections "footer-group" /}}

    {{#content "footer" /}}
  </body>
</html>
