<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="canonical" href="{{canonical_url}}" />
<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" />

{{#if settings.favicon_image}}
  <link rel="icon" type="image/png" href="{{settings.favicon_image}}" />
{{/if}}

<title>
  {{#if page_title}}
    {{page_title}}
  {{#else/}}
    {{shop.name}}
  {{/if}}
</title>

{{#if page_description}}
  <meta name="description" content="{{page_description}}" />
{{/if}}

{{#if page_keyword}}
  <meta name="keywords" content="{{page_keyword}}" />
{{/if}}

<!-- Flag Icons CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css">
